/* ACCUEIL */

a {
  margin-right: 20px;
}

.imageAccueil {
  float: left;
  height: 500px;
  margin-right: 25px;
}

.titreAccueil {
  text-align: left;
}

.titreAccueil {
  text-align: left;
}

.titrePAccueil {
  text-align: left;
  margin-top: -10px;
  color: grey;
}

.myposter {
  height: 220px;
}

@media (max-width: 500px) {
  .titreP {
    margin-left: -8%;
  }

  .mycard {
    width: 150px;
  }

  .myimg {
    height: 220px;
  }

  .titrePAccueil {
    width: 343px;
  }

  .closeSearch {
    left: 87%;
  }

}

@media (min-width: 1000px) and (max-width: 2000px) {
  .poster {
    width: 200px!important;
    
  }

  .titreP {
    margin-left: -1.7%;
  }

  .myposter {
    height: 270px;
  }

  .mycard {
    width: 200px;
  }

  .myimg {
    height: 270px;
  }

  .closeSearch {
    left: 93%;
  }
  
}

/* FILMS */

.btn_close {
  position:absolute;
  left: 89%;
}

.tuto {
  width: 88%;
  height: 25%;
}

.input {
  margin-left: 20px;
  margin-right: 20px;
}

#search {
  margin-left: 15px;
}

.titreP {
  text-align: left;
  margin-top: -30px;
  margin-bottom: -15px;
  color: grey;
}

.titre {
  text-align: left;
}

.paragraphe {
  text-align: justify;
  margin-right: 10px;
}

.paragraphe_b {
  text-align: justify;
  text-overflow: ellipsis;
}

.paragrapheD {
  text-align: justify;
  margin-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 80px;      /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.image {
  float: left;
  margin-right: 30px;
  
}

.choix:active {
  box-shadow: 0px 0px 5px 5px grey;
}