/* ACCUEIL */

a {
  margin-right: 20px;
}

/* #searchAccueil {
  margin-left: 1%;
  /* margin-right: 10px; 
} */

.imageAccueil {
  float: left;
  height: 500px;
  margin-right: 25px;
}

.titreAccueil {
  text-align: left;
  /* margin-left: 7%; */
}

.titreAccueil {
  text-align: left;
  /* margin-left: 7%; */
}

.titrePAccueil {
  text-align: left;
  /* margin-left: 6%; */
  margin-top: -10px;
  color: grey;
}

/* #searchAccueil {
  margin-left: 1%;
  margin-right: 5px;
} */

.myposter {
  height: 220px;
}

@media (max-width: 500px) {
  .titreP {
    margin-left: -8%;
  }

  .mycard {
    width: 150px;
  }

  .myimg {
    height: 220px;
  }

  /* #search {
    margin-left: 5%!important;
    margin-right: 0px!important;
  } */

  /* #searchAccueil {
    margin-left: 5%;
    /* margin-right: 10px;
  } */

  .titrePAccueil {
    /* margin-left: 5%; */
    width: 343px;
  }

  /* .titreAccueil { */
    /* margin-left: 12px; */
  /* } */

  /* .titreAccueilD { */
    /* margin-left: 12px; */
  /* } */
}

@media (min-width: 1000px) and (max-width: 2000px) {
  .poster {
    width: 200px!important;
    
  }

  .titreP {
    margin-left: -1.7%;
  }

  .myposter {
    height: 270px;
  }

  .mycard {
    width: 200px;
  }

  .myimg {
    height: 270px;
  }
  
}

/* FILMS */

.btn_close {
  /* margin-left:25px; */
  position:absolute;
  left: 89%;
}

.input {
  margin-left: 20px;
  margin-right: 20px;
}

#search {
  margin-left: 15px;
}

.titreP {
  text-align: left;
  /* margin-left: -6%;  */
  margin-top: -30px;
  margin-bottom: -15px;
  color: grey;
}

.titre {
  text-align: left;
  /* margin-left: 12px; */
}

.paragraphe {
  text-align: justify;
  margin-right: 10px;
}

.paragraphe_b {
  text-align: justify;
  text-overflow: ellipsis;
}

.paragrapheD {
  text-align: justify;
  margin-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 80px;      /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.image {
  float: left;
  margin-right: 30px;
  
}

.choix:active {
  box-shadow: 0px 0px 5px 5px grey;
}
